.center{
  text-align: center;
}

.error {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    color: var(--red);
  }
  
  .error--hidden {
    display: none;
  }

  .header {
    padding: 30px;
    text-align: center;
    background-color: #fd5850;
    color: white;
    font-size: 30px;
  }

  label {
    display: block;
  }

  /* Show panel related stuff */
  .showPanel {
    background-color: #ff928c;
    padding:15px;
    line-height: 5px;
    border-radius: 10px;
    word-wrap:break-word;
    text-align: center;
  }
  .showText {
    line-height: 15px;
  }
  .showTop {
    color:#8b312c;
    background-color: white;
    border-radius: 10px;
    padding:10px 0px 1px 0px;
  }
  .showBottom {
    color:#8b312c;background-color: white;
    border-radius: 10px;
    padding:10px 0px 1px 0px;
    margin: 5px 0px 5px 0px;
  }
  
.textPanel {
  padding:25px;
  margin-top: 15px;
  text-align: center;
  font-style: italic;
  color:#3b3b3b
}

.orangePanel {
  color:white;
  background-color: #fd5850;
  padding: 12px;
  border-radius: 12px;
  line-height: 5px;
}

.whitePanel {
  background-color: white;
  padding: 15px 10px 15px 10px;
  border-radius:12px
}

.headerLink{
  color:white;

}
a.headerLink:hover{
  color:white;
  text-decoration: none;
}

