.center{
  text-align: center;
}

.error {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    color: var(--red);
  }
  
  .error--hidden {
    display: none;
  }

  .header {
    padding: 30px;
    text-align: center;
    background-color: #fd5850;
    color: white;
    font-size: 30px;
  }

  label {
    display: block;
  }

  .showPanel {
    background-color: white;
    padding:10px;
    line-height: 5px;
    border-radius: 10px;
    word-wrap:break-word;
    text-align: center;
  }

  .showText {
    line-height: 15px;
  }
  