.titlePanel{
  background-color: #fd5850;
  color: white;
  text-align: center;
  padding:15px;

}
.titlePanel h1 a{
  text-decoration: none;
  color:white;
}

.orangePanel{
  text-align: center;
  color:white;
  background-color: #fd5850;
  padding:20px;
  margin: 10px 0px 10px 0px;
}

.lightOrangePanel{
  text-align: center;
  color:#3b3b3b;
  background-color: rgb(243, 227, 224);
  padding:20px;
  margin: 10px 0px 10px 0px;
}

.lightOrangePanelLowPadding{
  text-align: center;
  color:#3b3b3b;
  background-color: rgb(243, 227, 224);
  padding:10px 0px 10px 0px;

}

.lightOrangeColor{
  background-color: rgb(243, 227, 224);;
}

.bar{
  background-color: white; 
  padding: 5px; 
  color:#fd5850;
}

.error {
    color: red;
  }
  
  .error--hidden {
    display: none;
  }

  label {
    display: block;
  }

  /* Show panel related stuff */
  .showPanel {
    background-color: #ff918b;
    padding:15px;
    line-height: 5px;
    border-radius: 10px;
    word-wrap:break-word;
    text-align: center;
  }
  .showText {
    line-height: 15px;
  }
  .showTop {
    color:#8b312c;
    background-color: white;
    border-radius: 10px;
    padding:10px 0px 1px 0px;
  }
  .showBottom {
    color:#8b312c;background-color: white;
    border-radius: 10px;
    padding:10px 0px 1px 0px;
    margin: 5px 0px 5px 0px;
  }

.centerShortField{
  width:75%;
  margin:auto;
  text-align: center;
}


