{% extends "base.html" %}

{% block content %}


<div class="text-right" style="background-color: white; padding: 5px; color:#fd5850">
    <p style="display:inline">Hi {{session['user']['name']}}!</p>
    <a href="/user/signout" class="btn btn-primary">Sign out</a>
</div>

<!-- Section to add a show. -->
<div class="container">
    <div class="jumbotron">
        <div class="center orangePanel">
            <h2 data-toggle="collapse" data-target="#demo">Add a Show</h2>
            <p style="margin:2px;">Total: {{shows['count']}}/42</p>
        </div>
        <div id="demo" class="collapse whitePanel">
            <form name="addShow">
                <div class="row">
                    <div class="col-md-3">
                        <label for="title">Title</label>
                        <input type="text" name="title" class="field form-control" placeholder="e.g. The Title" pattern="[A-Za-z0-9._~?!+- ]{1,40}" title="Can't use some special character(s)." required>    
                    </div>
                    <div class="col-md-3">
                        <label for="network">Network</label>
                        <input type="text" name="network" class="field form-control" placeholder="e.g. ST Network" pattern="[A-Za-z0-9._~?!+- ]{1,30}" title="Can't use some special character(s)." required>    
                    </div>
                    <div class="col-md-3">
                        <label for="time">Time</label>
                        <input type="text" name="time" class="field form-control" placeholder="e.g. X:XX am or X:XX pm" pattern="([1-9]|10|11|12):[0-5][0-9] (am|pm)" title="e.g. X:XX am or X:XX pm" required>    
                    </div>
                    <div class="col md-3">
                        <label for="weekday">Weekday</label>
                        <select  class="form-control" id="weekday" name="weekday">
                            <option value="monday">Monday</option>
                            <option value="tuesday">Tuesday</option>
                            <option value="wednesday">Wednesday</option>
                            <option value="thursday">Thursday</option>
                            <option value="friday">Friday</option>
                            <option value="saturday">Saturday</option>
                            <option value="sunday">Sunday</option>
                        </select>
                    </div>
                    <div class="col-md-12 center" style="padding-top: 10px;">
                        <input type="submit" value="Add" class="btn btn-primary">
                        <p class="error error--hidden"></p>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<!-- Section to display shows. -->
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <!-- Loop through every weekday.-->
            {% for day, dayList in shows['week'].items() %}
                <div class="col-md-12 center"><hr>
                    <h4><u>{{day}}</u></h4><hr>
                </div>
                
                <!-- Loop though every item in weekday-->
                
                {% for i in dayList %}
                    <div class="col-md-2" style=" padding:5px">
                        <div class="showPanel">
                            <p ><b>Title:</b></p>
                            <p class="showText">{{ i['title'] }}</p>
                            <hr style="background-color: #fda1a1;">
                            <p><b>Network:</b> </p> 
                            <p class="showText">{{ i['network'] }}</p>
                            <hr style="background-color: #fda1a1;">
                            <p><b>Time:</b> </p>
                            <p>{{i['time']}}</p>
                            <div class="text-right">
                                <a href="/editShow/{{i['encodedTitle']}}" class="btn btn-primary">Edit</a>
                                <button class="btn btn-primary" data-toggle="collapse" data-target="#{{day}}{{loop.index}}">-</button>
                            </div>
                            <div id="{{day}}{{loop.index}}" class="collapse">
                                <h5>Delete Show?</h5>
                                <a class="btn btn-primary" href="/user/removeShow/{{i['encodedTitle']}}">Confirm</a>
                            </div>
                        </div>
                    </div>
                    
                {% endfor%}
            {% endfor %}
        </div>
    </div>
</div>

<!--Section for delete all shows. -->
<div class="container">
    <div class="jumbotron">
        <div class="center orangePanel">
            <h2 data-toggle="collapse" data-target="#demo2">Clear All Shows</h2>
        </div>
        <div id="demo2" class="collapse whitePanel">
            <div class="center">
                <h3>Are you sure?</h3>
                <button class="btn btn-primary" data-toggle="collapse" data-target="#demo2">No</button>
                <a href="/user/clearShows" class="btn btn-primary">Clear</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}