{% extends "base.html" %}

{% block content %}

<h1 class="center">Show Dashboard</h1>
<p class="center">Hi {{session['user']['name']}}!</p>
<div class="center">
    <a href="/user/signout" class="btn btn-primary">Sign out</a>
</div>

<!-- Section to add a show. -->
<div class="container">
    <div class="jumbotron">
        <h2 class="center">Add a Show</h2>
        <form name="addShow">
            <label for="title">Title</label>
            <input type="text" name="title" class="field" required>
            <label for="network">Network</label>
            <input type="text" name="network" class="field" required>
            <label for="time">Time</label>
            <input type="text" name="time" class="field" required>
            <label for="weekday">Weekday</label>
            <select  id="weekday" name="weekday">
                <option value="monday">Monday</option>
                <option value="tuesday">Tuesday</option>
                <option value="wednesday">Wednesday</option>
                <option value="thursday">Thursday</option>
                <option value="friday">Friday</option>
                <option value="saturday">Saturday</option>
                <option value="sunday">Sunday</option>
              </select>
        
            <input type="submit" value="Add" class="btn btn-primary">
        </form>
    </div>
</div>

<!-- Section to display shows. -->
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <!-- Loop through every weekday.-->
            {% for day, dayList in shows.items() %}
                <div class="col-md-12 center"><hr>
                    <h4><u>{{day}}</u></h4><hr>
                </div>
                
                <!-- Liip though every item in weekday-->
                {% for i in dayList %}
                    <div class="col-md-2" style="background-color: white;">
                        <p><b>Title:</b> {{ i['title'] }}</p>
                        <p><b>Network:</b> {{ i['network'] }}</p>
                        <p><b>Time:</b> {{i['time']}}</p>
                    </div>
                {% endfor%}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}