{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron textPanel">
        <h5>Do you watch too many shows in a weekly basis? Can't keep track of what airs on what day? ShowTracker is here to help you manage that.</h5>
    </div>
</div>
<div class="container" style="padding-top: 15px;">
    <div class="row">
        <div class="col-md-6">
            <div class="container text-center">
                <div class="jumbotron">
                    <h2>Log in</h2>
                    <hr style="background-color: #fda1a1;">
                    <form name="login_form">
                        <label for="email">Email</label>
                        <input type="text" name="email" class="field" required>
        
                        <label for="password">Password</label>
                        <input type="text" name="password" class="field" required>
                        <div style="padding-top: 10px;">
                            <input type="submit" value="Log In" class="btn btn-primary">
        
                        </div>
                        <p class="error error--hidden"></p>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="container text-center">
                <div class="jumbotron">
                    <h2>Create an Account</h2>
                    <hr style="background-color: #fda1a1;">
                    <form name="signup_form">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="field" maxlength="32" title="Needs to be between 1-32 characters" required>
        
                        <label for="email">Email</label>
                        <input type="text" name="email" class="field" pattern="[A-Za-z0-9._~?!+-]{1,40}@[A-Za-z0-9._~?!+-]{1,40}.(edu|org|com|net)" title="e.g. xxx@xxx.com" required>
        
                        <label for="password">Password</label>
                        <input type="text" name="password" class="field" maxlength="32" minlength="4" title="Needs to be between 4-32 characters"required>
                        
                        <div style="padding-top: 10px;">
                        <input type="submit" value="Sign Up" class="btn btn-primary">
                        </div>
                        <p class="error error--hidden"></p>

        
                    </form>
                </div>
            </div>

        </div>

    </div>
</div>



{% endblock %}