{% extends "base.html" %}

{% block content %}

<div class="text-right" style="background-color: white; padding: 5px; color:#fd5850">
    <p style="display:inline">Hi {{session['user']['name']}}!</p>
    <a href="/profile/" class="btn btn-primary">Profile</a>
    <a href="/user/signout" class="btn btn-primary">Sign out</a>
</div>

<div class="container" style="padding-top: 10px;">
    <div class="jumbotron center" style="margin:auto">
        <h2>Profile</h2>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h4>Name</h4>
                <p>{{session['user']['name']}}</p>
            </div>
            <div class="col-md-4">
                <h4>Email</h4>
                <p>{{session['user']['email']}}</p>
            </div>
            <div class="col-md-4">
                <h4>Password</h4>
                <p>*hidden*</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}